* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
.hello {
  color: rgba(223, 91, 91, 0.89);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: calc((0.4em + 1vmin) + (0.4em + 2vmax));
  min-height: 100vh;
  align-items: center;
}
